<footer style="background-color: #eee0b9;">
    <div class="container font_custom" style="padding-top: 15px;padding-bottom: 5px;">
        <hr>
        <div class="row" style="padding-top: 25px;padding-bottom: 5px;">
            <div class="col-lg-6">
                <!-- <img src="/assets/QaraLua_Logo.jpg" alt="Company Logo" class="logo_image pb-2 " routerLink="/Home"> -->
               <p class="mt-1 font_custom" style="line-height: 2rem;">Discover authentic flavors crafted with the finest ingredients, delivering a culinary journey that tantalizes your taste buds. From traditional favorites to modern gourmet creations, enjoy an unforgettable dining experience in a warm and inviting ambiance. Whether it’s a special occasion or a casual meal, we promise to make every visit a memorable one..</p>
            
            </div>
            <div class="col-lg-2">
                <div>
                    <h5 class=" mt-2">Quick links</h5>
                    <ul style="list-style:none;cursor: pointer;" class="ms-0 p-0 mt-3">
                        <li class="p-3 pt-1 ps-0" routerLink="/Home" (click)="scrollToTop()">Home</li>
                        <li class="p-3 pt-1 ps-0" routerLink="/Aboutus" (click)="scrollToTop()">About Us</li>
                        <li class="p-3 pt-1 ps-0"

                             routerLink="/Menu" (click)="scrollToTop()">Menu 
                          </li>
                        <!-- <li class="p-3 pt-1 ps-0" routerLink="/Menu" (click)="scrollToTop()">Menu</li> -->
                        <!-- <li class="p-3 pt-1 ps-0" routerLink="/contact">Contact Us</li>  -->
                        <!-- <li class="p-3 pt-1 ps-0" routerLink="/aboutus" (click)="scrollToTop()">Projects</li>
                        -->
                    </ul>
                </div>
            </div>
          
            <div class="col-lg-4 ">
               <div class="mx-auto">
                <div class="d-flex justify-content-center">
                    
                   <!-- <a href="https://www.instagram.com/qara.lua?igsh=MXh5bHU3dDZwcHp2ag%3D%3D&utm_source=qr" target="_blank" class="text-white"><i class="fa-brands fa-instagram mx-4 ms-1 fs-2"></i></a> 
                   <a href="https://www.facebook.com/qaralua/" target="_blank"  class="text-white"><i class="fa-brands fa-facebook mx-4 fs-2"></i></a> 
              
                   -->
            </div>
            <div class="card bg-transparent border-white p-3 text-white mt-3">
  <div class="card-body p-0 text-dark">
    <p class="mb-3 text-start">
      <span class="fw-semibold">Phone:</span> +91 94432 88350
    </p>
    
    <!-- Uncomment and update email if needed -->
    
    <p class="mb-3 text-start">
      <span class="fw-semibold">Email:</span> sathiqsyed@gmail.com
    </p>
   

    <p class="mb-0 text-start">
      <span class="fw-semibold">Address:</span><br>
      <strong>Main:</strong> 13, Kamaraj Salai, Thattanchavady, Puducherry – 605 009<br>
      <strong>Branch:</strong> Anna Nagar, Nellithope, Puducherry – 605 005
    </p>
  </div>
</div>

               </div>
                
            </div>

            
               
        </div>
        <hr>

        
        <div class="row">
            <div class="col-lg-6">
                <p > Copyright©2025 <span class="fw-bold"> J.A Arcot Briyani Restaurant.</span> All Rights Reserved</p>
            </div>
            <div class="col-lg-6">
                <p routerLink="/TermsAndCondition" class="float-end" style="cursor: pointer;" (click)="scrollToTop()">Terms & Condition </p>
            </div>
        </div>
    </div>
    
</footer>
