<div class="container" style="margin-top: 100px;">

  <div class="row">
    <div class="col-lg-7">
      <h1 style="font-size: 50px;color: #DC143C;line-height: 4.5rem;" class="font_custom mb-3 mt-4">
       <br>A Legacy of Taste <span class="text-dark">and</span> Tradition <i class="fa-solid fa-bowl-food" style="color: #DC143C;"></i></h1>
      <img src="/assets/ab2.png" style="width: 100%;border-radius: 36px; height: 450px;" class="mb-2">
    </div>
    <div class="col-lg-5 ">
      <img src="/assets/About.gif" style="width: 90%;border-radius: 44px;"><br>
      <h2 class="font_custom mb-3 mt-3">Who We Are:</h2>

      <p style="font-size: 16px;" class="fw-medium font_custom">At  J.A Arcot Briyani Restaurant, we are more than just a place to eat — we are a team of passionate food lovers dedicated to bringing people together through delicious, authentic cuisine. Our journey began with a simple idea: to create a space where flavors tell stories and every dish brings comfort.
        
      </p>
      <button class="btn btn-outline-dark rounded-pill font_custom mt-2 ml-2 text-white" routerLink="/Menu">See Menu</button>

    </div>
  </div>
</div>
<br><br>
<div class="container">
  <h3 class="mb-3 font_custom text-uppercase text-center">Our Vision</h3>
  <p class="fw-medium font_custom text-center">To be the leading destination for Indian cuisine, where tradition meets innovation. We aim to create exceptional dining experiences, inspire cultural appreciation through food, and bring the flavors of two nations to tables worldwide.</p>
</div>
<br>
<div class="container overflow-hidden">
  <div class="row">
    <div class="col-lg-8 pe-lg-1 ps-lg-1">
      <img src="/assets/about2.png" style="width: 99%;">
      
    </div>
 
    <div class="col-lg-4 d-flex justify-content-center align-items-center mt-4 mt-lg-0 "
      style="background-color: #eee0b9;">
      <div class="m-4">
        <h3 class="mb-3 font_custom text-uppercase">Our Story</h3>
        <p class="fw-medium font_custom">Welcome to  J.A Arcot Briyani Restaurant, where tradition meets taste and every meal is a celebration. At  J.A Arcot Briyani, we are passionate about serving flavorful dishes crafted with love, fresh ingredients, and time-honored recipes. Whether you're craving comfort food or exploring bold new flavors, our diverse menu has something for everyone.
          Rooted in hospitality and committed to quality, we strive to create an inviting dining experience where every guest feels at home. <br> — only at  J.A Arcot Briyani.</p>

        
        <!-- <button class="btn btn-outline-dark rounded-0 font_custom"
          style="color: #ffffff;border: 1px solid #ffffff;font-size: 12px;">Learn More</button> -->
      </div>
    </div>
    
  </div>
</div>



<br><br>