.navbar-scroll-style {
  position: fixed;
  width: 100%;
  box-shadow: 3 2px 28px 0 rgba(255, 255, 255, 0.09) !important;
  animation: 800ms ease-in-out 0s normal none 1 running fadeInDown;
  background-color: #f3f2f2 !important;
}

.transparent_color{
  background-color: #ffffff00;
}

.text_custom_mobile_color{
  color: #DC143C !important;
}

/* custom font in navbar */
.text_custom_color {
  color: #DC143C !important;
}

/* navbar design */

.logo_image {
  width: 70px;
  height: 70px;
  
  object-fit: cover;
}


.white_custom_bg{
  background-color: #ffffff;
}

/* animation designs classes in navbar */

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translate3d(30%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInDown {
0% {
  opacity: 0;
  transform: translate3d(0,-100%,0);
}
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0,150%,0);
  }
  }

/* On screens that are 1021px or less, set the style */


/* On screens that are 1021px or less, set the style */
@media screen and (min-width: 1021px) {
.hidden-custom-style-nav-min {
  display: none;
}


}


@media only screen and (max-width: 784px) {
  .logo_image{
    width: 22%;
  
  }

  .white_custom_bg{
    background-color: #ffffff;
  }

  .text_custom_mobile_color{
    color: #DC143C !important;
  }
  .navbar_header_custom{
    background-color: #ffffff;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.navbar_header_custom{
  position: fixed;
  width: 100%;
  z-index: 1010;
  padding-left: 25px;
  padding-right: 25px;
}

.restaurant-name {
  color: #DC143C;
  font-weight: 700;
  font-size: 30px;
  margin-left: 5px;
}

/* Mobile only: screen width 768px and below */
@media (max-width: 768px) {
  .restaurant-name {
    font-size: 20px; /* or smaller if needed */
  }
}

