<div class="container" style="margin-top: 100px;">
<h3 class="font_custom text-uppercase" style="color:#DC143C">Terms and Conditions</h3>
<br>
<ul class="custom-list font_custom">
    <li class="m-2">    <span class="text-secondary">Reservation Policy:</span> Table reservations are subject to availability, and confirmation is required. Cancellations or changes must be informed at least 24 hours in advance.
    </li>
    <li class="m-2">	<span class="text-secondary">Payment Terms: </span> All payments must be made at the time of dining or online for takeaway/delivery orders. Accepted payment methods include cash, credit/debit cards, and UPI.
    </li>
    <li class="m-2">	<span class="text-secondary">Food Allergies: </span> Customers are responsible for informing us of any food allergies or dietary restrictions before placing an order. While we take precautions, we cannot guarantee a completely allergen-free environment.
    </li>
    <li class="m-2">	<span class="text-secondary">No Refund Policy:</span> Refunds will not be provided for orders once prepared, except in cases of incorrect or incomplete delivery due to our error.
    </li>

</ul>


    </div>

    <br><br>