/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Nunito Sans", serif;
  color: #444444;
}

.has-text-gradient {
  background: linear-gradient(111deg,#002bff, #d93d3d);
  // -webkit-background-clip: text; 
  color: transparent;
  display: inline-block; /* Ensure the gradient is applied to the text inline */
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.montserrat_font {
  font-family: "Montserrat", sans-serif;
  font-weight: 100 !important;

}


// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap');
.montserrat-alternates {
  font-family: "Signika", sans-serif;

  // font-weight: 100;
  // font-style: normal;
  }


  // @import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');

  // .font_custom{
  //     font-family: "Playwrite IN", serif;
  // }
  
  // @import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  

  .font_custom{
    font-family: 'Roboto', sans-serif;

  }

  
  .font_custom1{
 //   font-family: "Playwrite IN", serif;
 font-family: "Raleway", sans-serif;
  }


  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
  
  //.font_custom{
  //    font-family: "EB Garamond", serif;
  //}

  @import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

  .font_custom2{
    font-family: "Bebas Neue", serif;
  }
  .bg_colour{
    background-color: #eee0b9;
    // margin-bottom: 30px; /* adds space below */
    padding: 20px;
  border-radius: 2px;
  width: fit-content;
  max-width: 100%;
  display: inline-block;
  text-align: center;

  }
  .bg_colour2{
    background-color:#0e4e95; ;
  }
  .ms-gap {
    margin-left: 10px;
  }
  .icon-box {
    display: inline-block;
    padding: 20px; /* increases the space around icons */
    background-color: #eee0b9;
    border-radius: 8px;  /* Optional: To make the background around icons rounded */
    margin: 8px;  /* Space between individual icons */
    text-align: center;  /* Centers icons */
  }
  